<div id="<%= dom_id employee %>">
  <p>
    <strong>Cédula: </strong>
    <%= employee.idCard %>
  </p>

  <p>
    <strong>Nombre Completo: </strong>
    <%= employee.fullName %>
  </p>

  <p>
    <strong>Correo electrónico: </strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Estado: </strong>
    <%= employee.status %>
  </p>

</div>
