<div id="<%= dom_id employee %>">
  <p>
    <strong>Idcard:</strong>
    <%= employee.idCard %>
  </p>

  <p>
    <strong>Fullname:</strong>
    <%= employee.fullName %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= employee.status %>
  </p>

</div>
