<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to "Editar empleado", edit_employee_path(@employee) %> |
  <%= link_to "Regresar a lista", employees_path %>

  <%= button_to "Eliminar empleado", @employee, method: :delete %>
</div>
