<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to "Editar empleado", edit_employee_path(@employee) %> |
  <%= link_to "Regresar a lista", employees_path %>
  <%= link_to "Eliminar empleado", employees_deleteConfirm_path(@employee), class: 'btn btn-sm btn-danger' %>
</div>
