<%= form_with(model: task) do |f| %>
  <div class="container" >

    <table class="table table-hover ">
      <thead>
        <tr>
          <th scope="col">Cédula</th>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Asignar a la solicitud</th>
        </tr>
      </thead>
      <tbody>
          <% @employees.each do |employee| %>
            <% if list_type == "add" %>
              <% if employee.status && (!@request.employees.ids.include? employee.id) %>
                <%= render '/tasks/admin_views/table_col', employee: employee, list_type: list_type  %>
              <% end %>
            <% else %>
              <% if (@request.employees.ids.include? employee.id) %>
                <%= render '/tasks/admin_views/table_col', employee: employee, list_type: list_type  %>
              <% end %>
            <% end %>
          <% end %>
      </tbody>
    </table>
    <%= f.hidden_field :request_id, value: request.id%>
    <%= f.submit(list_type == 'add' ? 'Asignar empleados a la solicitud' : 'Desasignar empleados de la solicitud', class:"btn btn-primary") %>
  </div>
<% end %>