<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="requester_information" class="form-group"> 
    <p>Información del solicitante</p>
    <div>
      <p>
        <%= form.label "Nombre completo", style: "display: block" %>
        <%= form.text_field :requester_name %>
      </p>
    </div>

    <div>
      <p>
        <%= form.label "Extensión telefónica", style: "display: block" %>
        <%= form.text_field :requester_extension %>
      </p>
    </div>

    <div>
      <p>
        <%= form.label "Número telefónico", style: "display: block" %>
        <%= form.text_field :requester_phone %>
      </p>
    </div>

    <div>
      <p>
        <%= form.label "Número de identificación", style: "display: block" %>
        <%= form.text_field :requester_id %>
      </p>
    </div>

    <div>
      <p>
        <%= form.label "Dirección de correo electrónico", style: "display: block" %>
        <%= form.text_field :requester_mail %>
      </p>
    </div>

    <div data-controller= "hello">
      <p>
        <%= form.label "Tipo de solicitante", style: "display: block" %>
        <%= form.select :requester_type, options_for_select([["Estudiante", 'student'], ["Docente", 'teacher'], ["Administrativo", 'administrative']]), {}, data: { action: "change->hello#handleChange"} %>
      </p>
    </div>

    <div class= "student-info">
      
      <div>
        <p>
          <%= form.label "Carnet de estudiante", style: "display: block" %>
          <%= form.text_field :student_id %>
        </p>
      </div>

      <div>
        <p>
          <%= form.label "Dependencia estudiantil", style: "display: block" %>
          <%= form.select :student_assosiation, options_for_select([["Asociación Estudiantil", 'student_assosiation'], ["FEUCR", 'feucr']]) %>
        </p>
      </div>
    </div>

  </div>
  
  <div id="work_information" class="form-group">
    <p>Información del trabajo a solicitud</p>
    <div>
      <p>
        <%= form.label "Edificio", style: "display: block" %>
        <div class="grid-container">
          <div class="grid-item">
            <%= form.select :work_building, options_for_select([["Gimnasio", 'gym'], ["Laboratorios de Ciencias Naturales", 'science_labs'], ["Otro", 'other']])%>
          </div>
          <div class="grid-item other-selected" id="work_building">
            <%= form.text_field :work_building %>
          </div>
        </div>
      </p>
    </div>

    <div>
      <p>
        <%= form.label "Lugar", style: "display: block" %>
        <%= form.text_field :work_location %>
      </p>
    </div>

    <div>
      <p>
        <%= form.label "Tipo de trabajo", style: "display: block" %>
        <div class="grid-container">
          <div class="grid-item">
            <%= form.select :work_type, options_for_select([["Eléctrico", 'electrical'], ["Plomería", 'plumbing'], ["Otro", 'other']]) %>
          </div>
          <div class="grid-item other-selected" id="work_type">
            <%= form.text_field :work_type %>
          </div>
          </div>
        
      </p>
    </div>

    <div>
      <p>
        <%= form.label "Tipo de trabajo", style: "display: block" %>
        <%= form.text_area :work_description %>
      </p>
    </div>
  </div>
  

  <div>
    <%= form.submit "Hacer solicitud" %>
  </div>
<% end %>
