<div class="tab">
  <% if current_user.role == "admin" %>
    <button>
      <%= link_to "Pendientes", requests_path(:status => "pending"), class: "tablinks btn" %>
    </button>
  <% end %>
  <button>
    <%= link_to (current_user.role == "admin" ? "En Proceso" : "Asignados"), requests_path(:status => "in_process"), class: "tablinks btn" %>
  </button>
  <button>
    <%= link_to "Finalizadas", requests_path(:status => "completed"), class: "tablinks btn" %>
  </button>
  <% if current_user.role == "admin" %>
    <button>
      <%= link_to "Cerradas", requests_path(:status => "closed"), class: "tablinks btn" %>
    </button>
    <button>
      <%= link_to "Rechazadas", requests_path(:status => "denied"), class: "tablinks btn" %>
    </button>
  <% end %>
  
</div>