<div id="<%= dom_id request %>">
  <p>
    <strong>Requester name:</strong>
    <%= request.requester_name %>
  </p>

  <p>
    <strong>Requester extension:</strong>
    <%= request.requester_extension %>
  </p>

  <p>
    <strong>Requester phone:</strong>
    <%= request.requester_phone %>
  </p>

  <p>
    <strong>Requester:</strong>
    <%= request.requester_id %>
  </p>

  <p>
    <strong>Requester mail:</strong>
    <%= request.requester_mail %>
  </p>

  <p>
    <strong>Requester type:</strong>
    <%= request.requester_type %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= request.student_id %>
  </p>

  <p>
    <strong>Student assosiation:</strong>
    <%= request.student_assosiation %>
  </p>

  <p>
    <strong>Work location:</strong>
    <%= request.work_location %>
  </p>

  <p>
    <strong>Work building:</strong>
    <%= request.work_building %>
  </p>

  <p>
    <strong>Work type:</strong>
    <%= request.work_type %>
  </p>

  <p>
    <strong>Work description:</strong>
    <%= request.work_description %>
  </p>

</div>
