<div id="<%= dom_id request %>">
  <p>
    <strong>Nombre del solicitante:</strong>
    <%= request.requester_name %>
  </p>

  <p>
    <strong>Extensión del solicitante:</strong>
    <%= request.requester_extension %>
  </p>

  <p>
    <strong>Número telefónico de solicitante:</strong>
    <%= request.requester_phone %>
  </p>

  <p>
    <strong>Identificación del solicitante:</strong>
    <%= request.requester_id %>
  </p>

  <p>
    <strong>Dirección email del solicitante:</strong>
    <%= request.requester_mail %>
  </p>

  <p>
    <strong>Tipo de solicitante:</strong>
    <%= @dictionary.requesterTypes.key(request.requester_type) %>
  </p>

  <% if request.requester_type == 'student' %>
    <p>
      <strong>Carnet del solicitante:</strong>
      <%= request.student_id %>
    </p>

    <p>
      <strong>Dependencia estudiantil:</strong>
      <%= request.student_assosiation %>
    </p>
  <% end %>
  
  <p>
    <strong>Edificio:</strong>
    <%= request.work_building %>
  </p>

   <p>
    <strong>Lugar del trabajo a realizar:</strong>
    <%= request.work_location %>
  </p>

  <p>
    <strong>Tipo de trabajo a realizar:</strong>
    <%= request.work_type %>
  </p>

  <p>
    <strong>Descripción del trabajo a realizar:</strong>
    <%= request.work_description %>
  </p>

</div>
