<div id="<%= dom_id request %>">

  <% case request.status
     when "in_process" %> <h3>Solicitud en Proceso</h3>
  <% when "completed" %> <h3>Solicitud Finalizada</h3>
  <% when "closed" %> <h3>Solicitud Cerrada</h3>
  <% when "denied" %> <h3>Solicitud Rechazada</h3>
  <% else %> <h3>Solicitud Pendiente</h3>
  <% end %>

  <div class="container">
    <p>
      <strong>Dirección email del solicitante:</strong>
      <%= request.requester_mail %>
    </p>

      <% if (request.status != "pending" && request.status != "denied") || current_user %>

      <p>
        <strong>Nombre del solicitante:</strong>
        <%= request.requester_name %>
      </p>

      <p>
        <strong>Extensión del solicitante:</strong>
        <%= request.requester_extension %>
      </p>

      <p>
        <strong>Número telefónico de solicitante:</strong>
        <%= request.requester_phone %>
      </p>

      <p>
        <strong>Identificación del solicitante:</strong>
        <%= request.requester_id %>
      </p>

      <p>
        <strong>Tipo de solicitante:</strong>
        <%= @dictionary.requesterTypes[request.requester_type.to_sym] %>
      </p>

      <% if request.requester_type == "student" %>
        <p>
          <strong>Carnet del solicitante:</strong>
          <%= request.student_id %>
        </p>

        <p>
          <strong>Dependencia estudiantil:</strong>
          <%= @dictionary.studentAssociations[request.student_assosiation.to_sym] %>
        </p>
      <% end %>
      
      <p>
        <strong>Edificio:</strong>
        <% if !@dictionary.workBuildings[request.work_building.to_sym].nil? %>
          <%= @dictionary.workBuildings[request.work_building.to_sym] %>
        <% else %>
          <%= request.work_building %>
        <% end %></td>
      </p>

      <p>
        <strong>Lugar del trabajo a realizar:</strong>
        <%= request.work_location %>
      </p>

      <p>
        <strong>Tipo de trabajo a realizar:</strong>
        <% if !@dictionary.workTypes[request.work_type.to_sym].nil? %>
          <%= @dictionary.workTypes[request.work_type.to_sym] %>
        <% else %>
          <%= request.work_type %>
        <% end %>
      </p>

      <p>
        <strong>Descripción del trabajo a realizar:</strong>
        <%= request.work_description %>
      </p>

    <% end %>
  </div>
  
  <% if request.status == "denied" && !current_user %>
    <div>
      <label>Razones de rechazo de solicitud:</label>
      <div>
        <ul>
          <% @reasons.each do |reason| %>
            <li>
              <label>reason.description</label>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if request.status == "closed" && !current_user %>
    <%= link_to "Enviar feedback", new_feedback_path, class: "btn btn-primary" %>
  <% end %>

</div>
