<div class="form-group"> 
  <h3>Rechazar Solicitud:</h3>
  <h5>Número de solicitud: <%= @request.id %></h4>
</div>

<div class="form-group">
  <%= render @request %>
</div>

<div class="form-group">
    <%= render "requests/admin_views/deny_request", request: @request %>
</div>

<div class="form-group">
  <%= link_to "Show this request", @request %> |
  <%= link_to "Back to requests", requests_path %>
</div>
