<%= render "index_navigation" %>
<p style="color: green"><%= notice %></p>

<% case @status
   when "in_process" %> <h1>Solicitudes en Proceso</h1>
<% when "completed" %> <h1>Solicitudes Finalizadas</h1>
<% when "closed" %> <h1>Solicitudes Cerradas</h1>
<% when "denied" %> <h1>Solicitudes Rechazadas</h1>
<% else %> 
  <% if current_user.role == "employee" %>
    <h1>Solicitudes en Proceso</h1>
  <% else %>
    <h1>Solicitudes Pendientes</h1>
  <% end %>
<% end %>


<div id="requests" class="request-table">
  <table class= "table">
    <tr>
      <th class= "table-header">Consecutivo</th>
      <th class= "table-header">Fecha solicitud</th>
      <th class= "table-header">Edificio</th>
      <th class= "table-header">Sitio</th>
      <th class= "table-header">Solicitante</th>
      <th class= "table-header">Acciones</th>
    </tr>
    <% @requests.each do |request| %>
    <tr>
      <td><%= request.id %></td>
      <td><%= request.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= @dictionary.workBuildings[request.work_building.to_sym] %></td>
      <td><%= request.work_location %></td>
      <td><%= request.requester_name %></td>
      <td class= "actions-col">
        <div class="grid-container">
          <div class="grid-item">
            <%= link_to "Ver solicitud", request, class: "action-button" %>
          </div>
          
          <% if current_user.role == "admin"%>
            <%= render 'requests/admin_views/admin_request_actions', request: request %>
          <% else %>
            <%= render 'requests/employee_views/employee_request_actions', request: request %>
          <% end %>

        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to "New request", new_request_path %>
