<div class="form-group"> 
  <h4>Filtros</h4>
  <%= form_tag reports_path, method: :get do %>
    <p>
        <%= label :year, "Fecha", style: "display: block" %>
        <%= date_select :request_year, "request_year", options = { :include_blank => true, :start_year => 1990, :end_year => Date.current.year, :selected => { :year => @year.to_i, :month => @month.to_i, :day => @day.to_i } } %>
    </p>
    <%= check_box_tag "denied", "denied", (@filter.include? "0") %> Rechazadas
    <%= check_box_tag "pending", "pending", (@filter.include? "1") %> Pendientes
    <%= check_box_tag "finished", "finished", (@filter.include? "2") %> Finalizadas
    <%= check_box_tag "outsourcing", "outsourcing", (@filter.include? "3") %> Contratación Externa
    <br>
    <%= submit_tag "Filtrar", :name => "reportsfilter" %>
  <% end %>
</div>

<p style="color: green"><%= notice %></p>

<h1>Reportes de solicitudes</h1>
<h4>Cantidad: <%= @requests.size %></h4>

<div id="requests" class="request-table">
  <table class= "table">
    <tr>
      <th class= "table-header">Consecutivo</th>
      <th class= "table-header">Fecha solicitud</th>
      <th class= "table-header">Edificio</th>
      <th class= "table-header">Sitio</th>
      <th class= "table-header">Solicitante</th>
      <th class= "table-header">Acciones</th>
    </tr>
    <% @requests.each do |request| %>
    <tr>
      <td><%= request.id %></td>
      <td><%= request.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= @dictionary.workBuildings[request.work_building.to_sym] %></td>
      <td><%= request.work_location %></td>
      <td><%= request.requester_name %></td>
      <td class= "actions-col">
        <div class="grid-container">
          <div class="grid-item">
            <%= link_to "Ver solicitud", request, class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to "Regresar a solicitudes", requests_path %>
