<p style="color: green"><%= notice %></p>

<%= render @request %>

<div>
  <%= link_to "Edit this request", edit_request_path(@request) %> |
  <%= link_to "Back to requests", requests_path %>

  <%= button_to "Destroy this request", @request, method: :delete %>
</div>
