<div class="container">
  <div class="container">
    <%= render "/requests/request", request: @request %>
  </div>
  <br>
  <h5>Observaciones:</h5>
    <div class="container overflow-auto">
      <% if @observations.length == 0 %>
        <p>No se ha agregado ninguna observaci贸n</p>  
      <% else %>
        <% @observations.each do |observation| %>
          <p>[<%= observation.created_at.strftime("%d/%m/%Y") %>]: <%= observation.description %></p>
        <% end %>
      <% end %>
    </div>

    <br>
    
    <% if @request.status != "completed" %>
      <div class="container">
        <h5>Agregar observaci贸n:</h5>
        <p>(Esta es una acci贸n irreversible)</p>
        <%= form_with(model: @task, local: true) do |f| %>
          <%= f.fields_for :observations do |observation| %>
              <%= observation.text_area :description %>
          <% end %>
          <%= f.hidden_field :request, value: @request.id %>

          <br>

          <%= f.submit "Agregar una observaci贸n", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
      <br>
      <%= link_to "Finalizar trabajo", change_status_request_path(@request, :task_id => @task), class: "btn btn-primary" %>
    <% end %>
</div>