<div class="container">
  <div class="data-form">
    <h2>Editar Usuario</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label "Nombre" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.label "Contraseña nueva" %> <br>
        <i>(Dejar en blanco si no se desea cambiar)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em>Mínimo <%= @minimum_password_length %> caracteres</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.label "Confirmación de contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label "Contraseña actual" %> <br>
        <i>(Se necesita su contraña actual para llevar a cabo los cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Actualizar", class:"btn btn-primary" %>
      </div>
    <% end %>
    <%= link_to "Back", :back %>
  </div>
</div>
